{:tasks {:requires    ([babashka.fs :as fs])
         repl         {:doc  "Run Clojure repl for Emacs with cider"
                       :task (clojure "-M:cider/nrepl")}

         outdated     {:doc  "Check for outdated dependencies"
                       :task (clojure "-Sdeps '{:deps {com.github.liquidz/antq {:mvn/version \"RELEASE\"}}}' -M -m antq.core")}

         test         {:doc  "Run tests"
                       :task (clojure (str "-M:test " (apply str (interpose " " *command-line-args*))))}

         format       {:doc  "Format source code"
                       :task (do (shell "cljstyle fix"))}

         lint         {:doc  "Lint source code"
                       :task (do (shell "clj-kondo --parallel --lint src:test:dev/src")
                                 (shell "cljstyle check"))}}}
