{:paths       ["src"]
 :deps        {org.clojure/clojure {:mvn/version "1.11.1"}}

 :aliases {:nrepl {:extra-paths ["test"]
                   :extra-deps  {refactor-nrepl/refactor-nrepl {:mvn/version "3.5.5"}
                                 cider/cider-nrepl             {:mvn/version "0.28.5"}
                                 hashp/hashp                   {:mvn/version "0.2.1"}
                                 healthsamurai/matcho          {:mvn/version "0.3.9"}
                                 zprint/zprint                 {:mvn/version "1.2.4"}}

                   :jvm-opts    ^:replace ["-XX:-OmitStackTraceInFastThrow"]}
           :test
           {:extra-deps  {org.clojure/test.check        {:mvn/version "1.1.1"}
                          cider/cider-nrepl             {:mvn/version "0.28.5"}
                          healthsamurai/matcho          {:mvn/version "0.3.9"}
                          lambdaisland/kaocha           {:mvn/version "1.69.1069"}}
            :extra-paths ["test"]
            :jvm-opts    []
            :main-opts   ["--main" "kaocha.runner"]}}}
